.root {
    max-width: 600px;
    margin: 0 auto 24px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.root h2 {
    margin-top: 60px;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.blur {
    position: fixed;
    z-index: -1;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background-size: cover;
    filter: blur(6px);
}

.blur:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.header {
    align-self: center;
    margin: 32px 0;
}

.root a {
    color: rgba(255, 255, 100, 0.7);
    text-decoration: none;
    cursor: pointer;
}

.root a:hover {
    text-decoration: underline;
}

.ukyo {
    width: 86px;
    height: 117px;
    background-image: url(../images/ukyo.gif);
    position: fixed;
    bottom: 0;
    right: 16px;
    transform: scale(-1, 1);
}

.credit {
    position: fixed;
    bottom: 0;
    left: 8px;
    font-size: 0.6rem;
    color: white;
}

.credit a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 700px) {
    .ukyo {
        display: none;
    }

    .credit {
        display: none;
    }
}

.signOff {
    text-align: center;
}

a.header:hover {
    text-decoration: none;
}
