.root {
    border-collapse: collapse;
    border: 0;
    font-size: 0.8rem;
    margin-bottom: 64px;
}

.root tr.levelNameRow > td:nth-child(1) {
    text-align: center;
    padding-bottom: 12px;
    color: white;
    font-size: 1.2rem;
}

.root tr td:nth-child(1) {
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-align: right;
}

.root tr td:nth-child(2) {
    font-weight: bold;
    text-align: left;
    color: white;
}

.root a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.root a:hover {
    text-decoration: underline;
}
