.root {
    border-collapse: collapse;
    border: 0;
    font-size: 0.8rem;
}

.root tr td:nth-child(1) {
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.root tr td:nth-child(2) {
    font-weight: bold;
    text-align: left;
    color: white;
}

.root a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.root a:hover {
    text-decoration: underline;
}
