.root {
    padding: 6px 16px;
    background-color: black;
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    text-align: right;
}

.nextLevelContainer {
    grid-column: 2;
}

@media (max-width: 401px) {
    .root {
        grid-template-columns: 100%;
    }

    .prevLevelContainer {
        display: none;
    }

    .nextLevelContainer {
        grid-column: 1;
    }
}

.root svg {
    vertical-align: middle;
    color: white;
    height: 0.6rem;
    width: 0.6rem;
    margin-bottom: 2px;
}

.root svg:nth-child(1) {
    margin-right: 4px;
}

.root svg:nth-child(2) {
    margin-left: 4px;
}

.root div:nth-child(1) {
    text-align: right;
}

.root div:nth-child(2) {
    text-align: right;
}

.root a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    cursor: pointer;
}

.root a:hover {
    text-decoration: underline;
}

.root .levelName {
    color: white;
}
