.root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.blur {
    position: fixed;
    z-index: -1;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background-size: cover;
    filter: blur(6px);
}

.blur:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
}

.outerImageContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.imageContainer {
    width: 75%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 401px) {
    .imageContainer {
        width: 96%;
    }
}

.imageContainer img {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.metaDataContainer {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.metaData {
    grid-column: 2;
}

.nextBackground {
    position: fixed;
    bottom: 0;
    right: 24px;
}
