.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.thumbnail {
    justify-self: flex-end;
}

.thankYou,
.form {
    margin-left: 20px;
}

.inputContainer {
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 8px;
}

.inputContainer label {
    text-align: right;
}

.inputContainer input[type="submit"] {
    grid-row: 3;
    grid-column: 1 / -1;
    justify-self: end;
}

.thankYou {
    font-size: 1.2rem;
    margin-top: 10px;
}
