.backgroundLink {
    display: block;
}

.root {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 20px;
    cursor: pointer;
    width: 100%;
}

.root:hover .imageContainer {
    outline: 2px solid rgba(255, 255, 255, 0.7);
}

.imageContainer {
    display: inline-block;
    width: 200px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
}

.lazyImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageContainer img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.lowRes {
    z-index: 0;
}

.highRes {
    z-index: 1;
}

.levelName {
    align-self: center;
}

.levelName {
    text-decoration: none;
    color: white;
}
