.root {
    width: 100%;
}

.root input {
    width: 100%;
    padding: 12px;
    border: 0;
    background-color: black;
    color: #aaa;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: 0;
}

.searchContainer {
    position: relative;
}

.resultsList {
    background-color: #333;
    position: absolute;
    display: block;

    list-style: none;

    max-height: 50vh;
    width: 100%;
    margin: 0;

    overflow-y: scroll;
}

.resultsList li {
    padding: 4px 16px;
    margin: 0;
}

.resultsList li:first-child {
    margin-top: 8px;
}

.resultsList .levelName {
    font-weight: bold;
}

.resultsList .restOfText {
    color: #777;
}

.levelListEntry:hover {
    background-color: #444;
}
