.root {
    width: 100%;
}

.searchContainer {
    position: relative;
}

.searchContainer input {
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border: 0;
    background-color: black;
    color: #aaa;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: 0;
}

.searchIcon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #aaa;
}

.resultsList {
    background-color: #333;
    position: absolute;
    display: block;

    list-style: none;

    max-height: 50vh;
    width: calc(100% + 2px);
    margin: 0 -1px;

    overflow-y: auto;

    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.resultsList li {
    padding: 4px 16px;
    margin: 0;
}

.resultsList li:first-child {
    margin-top: 8px;
}

.resultsList li:last-child {
    margin-bottom: 8px;
}

.resultsList .levelName {
    font-weight: bold;
}

.resultsList .restOfText {
    color: #777;
}

.levelListEntry:hover {
    background-color: #444;
}

.noscriptCantSearch {
    padding: 4px;
    background-color: rgb(255, 150, 150);
    color: rgba(50, 0, 0, 0.8);
    font-size: 0.8rem;
    width: calc(100% + 2px);
    margin: 0 -1px;
}
